<li class="nav-item">
  <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
</li>
<li class="nav-item d-none d-sm-inline-block">

</li>
<li class="nav-item d-none d-sm-inline-block">
  
</li>