<nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"
          id="sideNav">
          <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
    
          <li class="nav-item" id="navMaquinas">
            <a href="#" class="nav-link" onclick="cargar('app','resumenes','recaudaciones')">

              <p class="text-light">
                Recaudaciones
                <!--  <span class="right badge badge-danger">New</span> -->
              </p>
            </a>
          </li>
         
          <li class="nav-item" id="navMaquinas">
              <a href="#" class="nav-link" onclick="cargar('app','resumenes','premios')">
    
                  <p class="text-light">
                    Premios
                    <!--  <span class="right badge badge-danger">New</span> -->
                  </p>
                </a>
              </li>
    
              <li class="nav-item" id="navMaquinas">
                  <a href="#" class="nav-link" onclick="cargar('app','resumenes','gastos')">
        
                      <p class="text-light">
                        Gastos
                        <!--  <span class="right badge badge-danger">New</span> -->
                      </p>
                    </a>
                  </li>

                  <li class="nav-item" id="navMaquinas">
                      <a href="#" class="nav-link" onclick="cargar('app','resumenes','resumenMaquinas')">
            
                          <p class="text-light">
                            ResumenMaquinas
                            <!--  <span class="right badge badge-danger">New</span> -->
                          </p>
                        </a>
                      </li>      
    
        </ul>
      </nav>