<!-- Brand Logo -->

<!-- Sidebar -->
<div class="sidebar">

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"
      id="sideNav">
      <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
             <li class="nav-item" id="navNotificaciones">
                <a href="#" class="nav-link" onclick="cargar('app','notificaciones','listado')">
                  <i class="fas fa-users"></i>
                  <p>
                    Notificaciones
                    <!--  <span class="right badge badge-danger">New</span> -->
                  </p>
                </a>
              </li>
      <li class="nav-item" id="navActual">
        <a href="#" class="nav-link" onclick="cargar('app','diaActual','listado')">
          <i class="fas fa-list-ol"></i>
          <p>
            DiaActual
            <!--  <span class="right badge badge-danger">New</span> -->
          </p>
        </a>
      </li>
      <li class="nav-item" id="navMaquinas">
        <a href="#" class="nav-link" onclick="cargar('app','maquinas','listado')">
          <i class="fas fa-desktop"></i>
          <p>
            Maquinas
            <!--  <span class="right badge badge-danger">New</span> -->
          </p>
        </a>
      </li>


      <li class="nav-item" id="navUsuarios">
        <a href="#" class="nav-link" onclick="cargar('app','usuarios','listado')">
          <i class="fas fa-users"></i>
          <p>
            Usuarios
            <!--  <span class="right badge badge-danger">New</span> -->
          </p>
        </a>
      </li>
      <li class="nav-item" id="navClientes">
        <a href="#" class="nav-link" onclick="cargar('app','clientes','listado')">
          <i class="fas fa-users"></i>
          <p>
            Clientes
            <!--  <span class="right badge badge-danger">New</span> -->
          </p>
        </a>
      </li>
      <li class="nav-item" id="navFinanzas">
        <a href="#" class="nav-link" onclick="cargar('app','finanzas','listado')">
          <i class="fas fa-chart-line"></i>
          <p>
            Finanzas
            <!--  <span class="right badge badge-danger">New</span> -->
          </p>
        </a>
      </li>
      <li class="nav-item" id="navCaja">
        <a href="#" class="nav-link" onclick="cargar('app','jornadas','jornada')">
          <i class="nav-icon fa fa-th"></i>
          <p>
            Caja
            <!--  <span class="right badge badge-danger">New</span> -->
          </p>
        </a>
      </li>
      <li class="nav-item" id="navCuadratura">
        <a href="#" class="nav-link" onclick="cargar('app','cuadratura','principal')">
          <i class="fas fa-users"></i>
          <p>
            Cuadratura
            <!--  <span class="right badge badge-danger">New</span> -->
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" onclick="cerrarsession()">
          <i class="fas fa-sign-out-alt"></i>
          <p>
            Cerrar Sesion
            <!--  <span class="right badge badge-danger">New</span> -->
          </p>
        </a>
      </li>

    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->

<script>

  $(document).ready(function () {
    if (Usuario.tipo == "administrador") {
      $('#navCaja').html("")
      $('#navCuadratura').html("")
      $('#navUsuarios').html('')
      $('#navClientes').html('')
      $('#navFinanzas').html('')
    } else {
      $('#navActual').html('')
      $('#navMaquinas').html('')
      $('#navUsuarios').html('')
      $('#navClientes').html('')
      $('#navFinanzas').html('')
    }

  });
</script>