<style>
        .veinte {
            width: 30%;
        }
        .diez {
            width: 10%;
        }

       .texto{
        font-size:120%; font-weight:700
        }
    </style>
<div class="col-12 card">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="diez">Turno</th>
                        <th scope="col" class="veinte">Modulo</th>
                        <th scope="col" class="veinte">Detalle</th>
                      
                        <th scope="col" class="veinte"></th>

                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-12" style="max-height:500px; overflow-y:scroll;">

            <table class="table table-striped">
                <tbody id="cuerpoNotifaciones">
                    <tr>
                        <td class="diez">
                            1
                        </td>
                        <th scope="col" class="veinte">Premio</th>
                        <td class="veinte">
                         $30.000 N° <span class='texto'>11</span> a las   14:20
                        </td>
                     
                        <td class="veinte">
                                <button onclick="notificaciones.borrar()" type="button" class="btn btn-primary" ><i class="fas fa-check-square"></i> </button>
                        </td>
                    </tr>
        
                    <tr>
                            <td class="diez">
                                1
                            </td>
                            <th scope="col" class="veinte">Premio</th>
                            <td class="veinte">
                             $30.000 N° <span class='texto'>11</span> a las   14:20
                            </td>
                         
                            <td class="veinte">
                                    <button onclick="notificaciones.borrar()" type="button" class="btn btn-primary" ><i class="fas fa-check-square"></i> </button>
                            </td>
                        </tr>
        
                        <tr>
                                <td class="diez">
                                    1
                                </td>
                                <th scope="col" class="veinte">Premio</th>
                                <td class="veinte">
                                 $30.000 N° <span class='texto'>11</span> a las   14:20
                                </td>
                             
                                <td class="veinte">
                                        <button  onclick="notificaciones.borrar()" type="button" class="btn btn-primary" ><i class="fas fa-check-square"></i> </button>
                                </td>
                            </tr>
        
                            <tr>
                                    <td class="diez">
                                        1
                                    </td>
                                    <th scope="col" class="veinte">Premio</th>
                                    <td class="veinte">
                                     $30.000 N° <span class='texto'">11</span> a las   14:20
                                    </td>
                                 
                                    <td class="veinte">
                                        <button onclick="notificaciones.borrar()" type="button" class="btn btn-primary" ><i class="fas fa-check-square"></i> </button>
                                    </td>
                                </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

if (typeof notificaciones == "undefined"){
    var notificaciones = new Notificaciones();
}else{
    cargarTablaMaquinas();
}
    $(document).ready(function () {
        contenido = `
        <button type="button" class="btn btn-primary" onclick="cargar('app','maquinas','agregar')"><i class="fas fa-clipboard-check"></i></button>
        `
        
        
        navegacion("Borrados",'', contenido);  
        
        
    });


</script>