<div class="col-12 card col-md-4 offset-md-4">
    <form onsubmit="maquina.agregar(numero.value,entrada.value,salida.value,'Osorno',multi.value); return false">
        <div class="form-group">
            <label for="numero">Numero</label>
            <input type="number" class="form-control" id="numero"  required placeholder="Ingrese el numero de la maquina">

        </div>
        <div class="form-group">
            <label for="multi">Multiplicador</label>
            <input type="number" class="form-control" id="multi" required placeholder="Ingrese la salida de la maquina">

        </div>
        <div class="form-group">
            <label for="entrada">entrada</label>
            <input type="number" class="form-control" id="entrada" required placeholder="Ingrese la entrada de la maquina">

        </div>
        <div class="form-group">
            <label for="salida">salida</label>
            <input type="number" class="form-control" id="salida" required placeholder="Ingrese la salida de la maquina">

        </div>

    
        <button type="button" class="btn btn-danger">Cancelar</button>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>
<script src="modulos/maquinas/maquinas.js">
</script>

<script>
    $(document).ready(function () {

        contenido = `
        <button type="button" class="btn btn-primary" onclick="cargar('app','maquinas','listado')">Volver</button>
        `
        navegacion("Agregar Maquina","", contenido);

    });
    var maquina = new Maquina();


</script>