<style>
    .veinte {
        width: 16.6%;
    }
</style>
<div class="col-12 card">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="veinte">#</th>
                        <th scope="col" class="veinte">X</th>
                        <th scope="col" class="veinte">In</th>
                        <th scope="col" class="veinte">Out</th>
                     
                        <th scope="col" class="veinte">Balance</th>
                        <th scope="col" class="veinte">Local</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-12" style="max-height:500px; overflow-y:scroll;">
    
            <table class="table">
                <tbody id="cuerpoMaquinas">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="modulos/maquinas/maquinas.js">
</script>
<script>
if (typeof maquina == "undefined"){
    var maquina = new Maquina();
}else{
    cargarTablaMaquinas();
}

    $(document).ready(function () {
        contenido = `
        <button type="button" class="btn btn-primary" onclick="cargar('app','maquinas','agregar')">Agregar</button>
        `
        
        centro=`<input type = "text" placeholder="local" class="form-control" onkeyup="filtroLocal(this.value)">`
        centro=""
        navegacion("Maquinas",centro, contenido);  
        
        
    });






</script>