<div class="col-12 card col-md-4 offset-md-4">
        <form onsubmit="maquina.modificar(entrada.value,salida.value,local.value,multi.value); return false">
            <div class="form-group">
                <label for="numero">Numero</label>
                <input type="number" disabled class="form-control" id="numero"  required placeholder="Ingrese el numero de la maquina">
    
            </div>
            <div class="form-group">
                <label for="multi">multi</label>
                <input type="number" class="form-control" id="multi" required placeholder="Ingrese el multiplicador">
    
            </div>
            <div class="form-group">
                <label for="entrada">entrada</label>
                <input type="number" class="form-control" id="entrada" required placeholder="Ingrese la entrada de la maquina">
    
            </div>
            <div class="form-group">
                <label for="salida">salida</label>
                <input type="number" class="form-control" id="salida" required placeholder="Ingrese la salida de la maquina">
    
            </div>
    
        
            <button type="button" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
    <script src="modulos/maquinas/maquinas.js">
    </script>
    
    <script>
        $(document).ready(function () {
    
            maquina.cargarMaquinaSelect();

            contenido = `
            <button type="button" class="btn btn-primary" onclick="cargar('app','maquinas','listado')">Volver</button>
            <button type="button" class="btn btn-danger" onclick="maquina.eliminar()">X</button>
            `
            navegacion("Modificar Maquina","", contenido);
    
        });
    
    
    
    </script>