<div class="row">

    <div class="col-12 col-md-9">
            <div class="row">
                    <div class="col-12">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="veinticinco">Recaudaciones</th>
                                    <th scope="col" class="veinticinco">Monto</th>
                                    <th scope="col" class="veinticinco"><input type="number" class="form-control" placeholder="filtro" onkeyup="recaudaciones.filtrar(this.value)"></th>
                                    <th scope="col" class="veinticinco"><span id="totalRecaudaciones"></span> <span id="numRecaudaciones"></span></th>
                                    
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-12" style="max-height:350px; overflow-y:scroll;">
                
                        <table class="table table-striped">
                            <tbody id="cuerpoRecaudaciones">
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>

    <div class="col-12 col-md-3">

        <form onsubmit="recaudaciones.registrar(montoRecaudacion.value,maquinaRecaudacion.value); return false">
            <div class="form-group">
                <label for="montoPremio">Monto</label>
                <input type="number" class="form-control" id="montoRecaudacion" placeholder="Ingrese el monto" required>

            </div>
            <div class="form-group">
                <label for="maquinaPremio">Maquina</label>
                <input type="number" class="form-control" id="maquinaRecaudacion"  placeholder="Ingrese número de máquina" required>

            </div>
            <button type="button" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>

    </div>
</div>


<script>

if (typeof recaudaciones == "undefined"){
    var recaudaciones = new Recaudaciones();
}
$(document).ready(function () {
    if (typeof recaudaciones == "undefined"){
        recaudacionesCuadratura();
}else{
    recaudacionesCuadratura();

}

})
  
        </script>