<style>
        .veinte {
            width: 20%;
        }
    </style>
    <div class="col-12 card">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="veinte">#</th>
                            <th scope="col" class="veinte">Nombre</th>
                            <th scope="col" class="veinte">Apellido</th>
                            <th scope="col" class="veinte"></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-12" style="max-height:500px; overflow-y:scroll;">
        
                <table class="table">
                    <tbody id="cuerpoUsuario">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="modulos/usuarios/usuarios.js">
    </script>
    <script>
     
        $(document).ready(function () {
            contenido = `
            <button type="button" class="btn btn-primary" onclick="cargar('app','usuarios','agregar')">Agregar</button>
            `
            navegacion("Usuarios", contenido);
         
        });
    
    
    
    
    
    
    </script>