<div class="col-12 ">

    <form onsubmit="contadores.registrar(maquinaContador.value,entradaContador.value,salidaContador.value); return false">
        <div class="form-group">
            <label for="montoPremio">Maquina</label>
            <input type="number" class="form-control" id="maquinaContador" required
                placeholder="Numero Maquina">

        </div>
        <div class="row">
                <div class="form-group col-6">
                        <label for="montoPremio">IN</label>
                        <input type="number" class="form-control" id="entradaContador" required
                            placeholder="Contador In">
                    </div>
                    <div class="form-group col-6">
                        <label for="montoPremio">OUT</label>
                        <input type="number" class="form-control" id="salidaContador" required
                            placeholder="Contador Out">
                    </div>
        </div>
    
        <button type="button" class="btn btn-danger">Cancelar</button>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>

</div>
<script>
    if (typeof contadores == "undefined"){
    var contadores = new Contadores();
}

contenido = `
        <button type="button" class="btn btn-primary" onclick="cargar('sideDerecha','cuadratura','cuadratura')
">Cuadratura</button>
        `
    navegacion("Contadores", '', contenido);

</script>