<div class="row">
    <div class="col-12">
        <table class="table table-striped"><thead>
                       <tr>
                <td>
                    N°
                </td>
                <td>
                    Premios
                </td>
                <td>
                    Recaudaciones
                </td>
                <td>
                    Balance
                </td>
            </tr>
        </thead>
    <tbody>
<tr>
    <td>
        1
    </td>
    <td>
       $10.000
    </td>
    <td>
        $20.000
    </td>
    <td>
        $10.000
     </td>
</tr>
<tr>
    <td>
        1
    </td>
    <td>
       $10.000
    </td>
    <td>
        $20.000
    </td>
    <td>
        $10.000
     </td>
</tr>
<tr>
    <td>
        1
    </td>
    <td>
       $10.000
    </td>
    <td>
        $20.000
    </td>
    <td>
        $10.000
     </td>
</tr>
<tr>
    <td>
        1
    </td>
    <td>
       $10.000
    </td>
    <td>
        $20.000
    </td>
    <td>
        $10.000
     </td>
</tr>
<tr>
    <td>
        1
    </td>
    <td>
       $10.000
    </td>
    <td>
        $20.000
    </td>
    <td>
        $10.000
     </td>
</tr>
    </tbody>
        </table>
    </div>
</div>