<div class="row">
    <div class="col-8">
        <table class="table table-bordered">
            <thead>
                <th>
                    N°
                </th>
                <th>
                    INAyer
                </th>
                <th>
                    OUTAYER
                </th>
                <th>
                    DifRec
                </th>
                <th>
                    DifPremios
                </th>

                <th>
                    IN OUT
                </th>
                <th>
                    INHOY
                </th>
                <th>
                    OUTHOY
                </th>
                <th>
                  IN OUT
                </th>

                <th>
                   Totales
                </th>
            </thead>

            <tbody>
                <tr>
                    <td> <button class="btn btn-info">1</button> </td>
                    <td> 0</td>
                    <td> 0 </td>
                    <td class="bg-secondary" onclick="cargar('app','cuadratura','recaudaciones')"> 0 </td>
                    <td class="bg-secondary" onclick="cargar('app','cuadratura','premios')"> 0 </td>
                    <td>0</td>
                    <td> 0 </td>
                    <td> 0</td>
                    <td>0 </td>
                    <td> 0 </td>
                </tr>
                <tr>
                    <td> <button class="btn btn-info">1</button> </td>
                    <td> 0</td>
                    <td> 0 </td>
                    <td class="bg-secondary" onclick="cargar('app','cuadratura','recaudaciones')"> 0 </td>
                    <td class="bg-secondary" onclick="cargar('app','cuadratura','premios')"> 0 </td>
                    <td>0</td>
                    <td> 0 </td>
                    <td> 0</td>
                    <td>0 </td>
                    <td> 0 </td>
                </tr>
                <tr>
                    <td> <button class="btn btn-info">1</button> </td>
                    <td> 0</td>
                    <td> 0 </td>
                    <td class="bg-secondary" onclick="cargar('app','cuadratura','recaudaciones')"> 0 </td>
                    <td class="bg-secondary" onclick="cargar('app','cuadratura','premios')"> 0 </td>
                    <td>0</td>
                    <td> 0 </td>
                    <td> 0</td>
                    <td>0 </td>
                    <td> 0 </td>
                </tr>
                <tr>
                    <td> <button class="btn btn-info">1</button> </td>
                    <td> 0</td>
                    <td> 0 </td>
                    <td class="bg-secondary" onclick="cargar('app','cuadratura','recaudaciones')"> 0 </td>
                    <td class="bg-secondary" onclick="cargar('app','cuadratura','premios')"> 0 </td>
                    <td>0</td>
                    <td> 0 </td>
                    <td> 0</td>
                    <td>0 </td>
                    <td> 0 </td>
                </tr>
                <tr>
                    <td> <button class="btn btn-info">1</button> </td>
                    <td> 0</td>
                    <td> 0 </td>
                    <td class="bg-secondary" onclick="cargar('app','cuadratura','recaudaciones')"> 0 </td>
                    <td class="bg-secondary" onclick="cargar('app','cuadratura','premios')"> 0 </td>
                    <td>0</td>
                    <td> 0 </td>
                    <td> 0</td>
                    <td>0 </td>
                    <td> 0 </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="col-4" >
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        Ingresos
                    </th>
                    <th>
                        <input type="number" class="form-control" placeholder="Caja Base">
                    </th>
                    <th>
                        <input type="number" class="form-control" placeholder="Entrega">
                    </th>
                </tr>

                <tr>
                    <th>

                    </th>
                    <th>
                        <ul class="list-group list-group-flush" style="max-height: 100px; overflow-y:scroll;">
                            <li class="list-group-item">$100.000</li>
                            <li class="list-group-item">$200.000</li>
                            <li class="list-group-item">$100.000</li>

                        </ul>
                    </th>
                    <th>
                        <ul class="list-group list-group-flush" style="max-height: 100px; overflow-y:scroll;">
                            <li class="list-group-item">$200.000</li>
                            <li class="list-group-item">$200.000</li>

                            <li class="list-group-item">$200.000</li>


                        </ul>
                    </th>
                </tr>
                <tr>
                        <th></th>
                        <th>
                            $100.000
                        </th>
                        <th>
                    $200.000
                        </th>
                    </tr>
    
                <tr>
                    <th></th>
                    <th>
                        Manuales
                    </th>
                    <th>
                        Contadores
                    </th>
                </tr>


            </thead>

            <tbody>
                <tr>
                    <th>
                        IN
                    </th>
                    <td class="text-success">
                        $20.000
                    </td>
                    <td class="text-success">
                        $20.000
                    </td>
                </tr>
                <tr>
                    <th>
                        OUT
                    </th>
                    <td class="text-danger">
                        $9.000
                    </td>
                    <td class="text-success">
                        $10.000
                    </td>
                </tr>
                <tr>
                    <th>
                        Ganancia
                    </th>
                    <td>
                        11.000
                    </td>
                    <td>
                        10.000
                    </td>
                </tr>

                <tr>
                    <th >
                       <span onclick="cargar('app','cuadratura','gastos')"> Gasddtos</span> 
                    </th>
                    <td>

                    </td>
                    <td>
                        $5.000
                    </td>
                </tr>
                <tr>
                    <th>
                        Ganancias-gastos
                    </th>
                    <td>

                    </td>
                    <td>
                        $5.000
                    </td>
                </tr>
                <tr>
                    <th>
                        Caja Base
                    </th>
                    <td>

                    </td>
                    <td>
                        $5.000
                    </td>

                </tr>
                <tr>
                    <th>
                        Total
                    </th>
                    <td>

                    </td>
                    <td>
                        $10.000
                    </td>

                </tr>
                <tr>
                    <th>
                        EntregaCaja
                    </th>
                    <td>

                    </td>
                    <td>
                        $9.000
                    </td>

                </tr>
                <tr>
                    <th>
                        Diferencia
                    </th>
                    <td>

                    </td>
                    <td class="text-danger">
                        $1.000
                    </td>
                </tr>
                <tr>
                    <th>
                        Ganancia
                    </th>
                    <td>

                    </td>
                    <td>
                        $9.000
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>