
<script>


contenido = `
        <button type="button" class="btn btn-primary" onclick="cargar('sideDerecha','cuadratura','agregarContador')
">TomaDeContador</button>
        `
    navegacion("Cuadratura", '', contenido);</script>