<div class="row">

    <div class="col-12 col-md-9">
        <div class="row">
            
    <div class="col-12 col-md-12">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width:25%;"></th>
                            <th scope="col" style="width:25%;">Monto</th>
                            <th scope="col" style="width:25%;">Hora</th>
                            <th scope="col" style="width:25%;"></th>
         
                            
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-12" style="max-height:350px; overflow-y:scroll;">
        
                <table class="table">
                    <tbody id="cuerpoEntregaFinal"></tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        </div>
    </div>

    <div class="col-12 col-md-3">

        <form onsubmit="entregaFinal.registrar(montoEntregaFinal.value); return false">
            <div class="form-group">
                <label for="montoPremio">Monto</label>
                <input type="number" class="form-control" id="montoEntregaFinal" placeholder="Ingrese el monto">

            </div>
         
            <button type="submit" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>

    </div>
</div>

<script>
if (typeof entregaFinal == "undefined") {
        var entregaFinal = new EntregaFinal();
  
    } else {
        dibujarEntregaFinal()

    }
navegacion("Entrega Final", '', contenido);
</script>p
