<div class="row">
<div class="col-md-6 offset-md-3 col-12">
        <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    CajaBase
                    <span class="badge badge-primary badge-pill">$10.000</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Contadores
                    <span class="badge badge-primary badge-pill">$10.000</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Gastos
                    <span class="badge badge-primary badge-pill">$10.000</span>
                </li>
    
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Balance
                    <span class="badge badge-primary badge-pill">$10.000</span>
                </li>
    
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Entrega Caja
                    <span class="badge badge-primary badge-pill">$10.000</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                        Diferencias
                        <span class="badge badge-primary badge-pill">$10.000</span>
                    </li>
    
    
            </ul>
</div>
</div>