
    <div class="col-12 col-md-12">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width:25%;">Gastos</th>
                            <th scope="col" style="width:25%;">Monto</th>
                            <th scope="col" style="width:25%;">Motivo</th>
                            <th scope="col" style="width:25%;">Hora</th>
         
                            
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-12" style="max-height:350px; overflow-y:scroll;">
        
                <table class="table">
                    <tbody id="cuerpoGastosCuadratura"></tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>

    contenido = `
<button type="button" class="btn btn-primary" onclick="cargar('app','cuadratura','principal')">Volver</button>
`
if (typeof gastos == "undefined") {
        var gastos = new Gastos();
        tabGastCuadra();
    } else {
        tabGastCuadra();

    }
  navegacion("Gastos del Dia",'', contenido);


  </script>