<table class="table table-bordered">
        <thead>
            <th>
                N°
            </th>
            <th>
                INAyer
            </th>
            <th>
                OUTAYER
            </th>
            <th>
                DifIn
            </th>
            <th>
                DifOut
            </th>

            <th>
                Entrada
            </th>
            <th>
                Salida
            </th>

            <th>
                In
            </th>
            <th>
                Out
            </th>

            <th>
                Balance
            </th>
        </thead>
        <tbody id="cuerpoContadores">

        </tbody>
    </table>

    <script>
    
    if (typeof contadores == "undefined") {
        var contadores = new Contadores();

    } else {
        dibujarTablaContadores();

    }

</script>