<div class="row">
    <div class="col-12 col-md-6">
        <ul class="list-group">

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h4>Mañana</h4>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Recaudaciones
                <span class="badge badge-primary badge-pill">$10.000</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Premios
                <span class="badge badge-primary badge-pill">$10.000</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Gastos
                <span class="badge badge-primary badge-pill">$10.000</span>
            </li>

       
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Cuadratura
                <span class="badge badge-primary badge-pill">$10.000</span>
            </li>


        </ul>
    </div>

    <div class="col-12 col-md-6">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h4>Tarde</h4>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Recaudaciones
                <span class="badge badge-primary badge-pill">$10.000</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Premios
                <span class="badge badge-primary badge-pill">$10.000</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Gastos
                <span class="badge badge-primary badge-pill">$10.000</span>
            </li>

        

            <li class="list-group-item d-flex justify-content-between align-items-center">
                Cuadratura
                <span class="badge badge-primary badge-pill">$10.000</span>
            </li>


        </ul>
    </div>
</div>