<div class="col-12 card">
    <div class="row">
        <div class="col-12 col-md-8" style="max-height: 700px; overflow-y:scroll;" id="divContadores">
        </div>
        <div class="col-12 col-md-4" style="max-height: 700px; overflow-y:scroll;">
            <div id="sideDerecha">
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>

                        </th>
                        <td>
                            TurnoActual
                        </td>
                        <td>
                            Jornada
                        </td>

                    </tr>

                    <tr>
                        <th>
                            <i class="fas fa-search text-primary"
                            onclick="cargar('divContadores','cuadratura','cajaBase')">
                        </i>
                        </th>
                        <th>
                            CajaBase
                        </th>
                        <td>

                        </td>
                        <td id="montoCajaBase">
                            $9.000
                        </td>

                    </tr>

                    <tr>
                        <th>
                            <i class="fas fa-search text-primary"
                            onclick="cargar('divContadores','cuadratura','retiros')">
                        </i>
                        </th>
                        <th>
                            Retiros
                        </th>
                        <td>

                        </td>
                        <td id="montoRetiro">
                            $9.000
                        </td>

                    </tr>
                    <tr>
                        <th>
                            <i class="fas fa-search text-primary"
                            onclick="cargar('divContadores','cuadratura','entregaFinal')">
                        </i>
                        </th>
                        <th>
                            entregaFinal
                        </th>
                        <td>

                        </td>
                        <td id="montoEntregaFinal">
                            $9.000
                        </td>

                    </tr>

                    <tr>
                        <th> 
                            <i class="fas fa-search text-primary"
                                onclick="cargar('divContadores','cuadratura','listoContadores')">
                            </i>
                        </th>
                        <th>
                               
                            </th>
                        <th>
                            Manuales
                        </th>
                        <th onclick="cargar('divContadores', 'cuadratura', 'listoContadores')">
                            Contadores
                        </th>
                    </tr>


                </thead>

                <tbody>
                    <tr>
                        <th>
                            <i class="fas fa-search text-primary"
                                onclick="cargar('divContadores','cuadratura','recaudaciones')"></i>

                        </th>
                        <th>
                            In
                        </th>
                        <td class="text-success">

                            <span id="recaudacionesCuadratura"> </span>

                        </td>
                        <td class="text-success" id="entradaContadores">
                            $20.000
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <i class="fas fa-search text-primary"
                                onclick="cargar('divContadores','cuadratura','premios')"></i>
                        </th>
                        <th>

                            OUT
                        </th>
                        <td class="text-danger">
                            <span id="premiosCuadratura"> </span>

                        </td>
                        <td class="text-success" id="salidaContadores">
                            $10.000
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <i class="fas fa-search text-primary"
                                onclick="cargar('divContadores','cuadratura','resumenMaquinas')"></i>
                        </th>
                        <th>
                            Balance
                        </th>
                        <td id="balanceManual">
                            11.000
                        </td>
                        <td id="balanceContadores">
                            10.000
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <i class="fas fa-search text-primary"
                                onclick="cargar('divContadores','cuadratura','gastos')"></i>
                        </th>
                        <th>

                            Gastos
                        </th>
                        <td>

                        </td>
                        <td>


                            <span id="gastos"> </span>

                        </td>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Ganancias-gastos
                        </th>
                        <td>

                        </td>
                        <td id="ganancia-gastos">
                            $5.000
                        </td>
                    </tr>

                    <tr>
                        <th>

                        </th>
                        <th>
                            EfectivoEnCaja
                        </th>
                        <td>

                        </td>
                        <td id="efectivoEnCaja">
                            $10.000
                        </td>

                    </tr>

                    <tr>
                        <th>

                        </th>
                        <th>
                            Diferencia
                        </th>
                        <td>
                        </td>
                        <td class="text-danger" id="diferencia">
                            $1.000
                        </td>


                    </tr>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Ganancia
                        </th>
                        <td>

                        </td>
                        <td id="ganancia">
                            $4.000
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>


<script>

    if (typeof contadores == "undefined") {
        var contadores = new Contadores();

    } else {
        dibujarTablaContadores();

    }


    cargar("sideDerecha", "cuadratura", "cuadratura")

    verCuadraturaJornada()
    cargar('divContadores', 'cuadratura', 'listoContadores')
    contenido = `
        <button type="button" class="btn btn-primary" onclick="cargar('sideDerecha','cuadratura','agregarContador')
">TomaDeContador</button>
        `
    navegacion("Cuadratura", '', contenido);
</script>