<div class="col-12 col-md-12">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width:33%;">Maquina</th>
                        <th scope="col" style="width:33%;">Monto</th>
                        <th scope="col" style="width:33%;">Hora</th>


                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-12" style="max-height:350px; overflow-y:scroll;">

            <table class="table">
                <tbody id="cuerpoRecaudacionesCuadratura"></tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

    contenido = `
                <button type="button" class="btn btn-primary" onclick="cargar('app','cuadratura','principal')">Volver</button>
                `
    if (typeof recaudaciones == "undefined") {
        var recaudaciones = new Recaudaciones();
        recaudacionesCuadratura();
    } else {
        recaudacionesCuadratura();

    }
    navegacion("Recaudaciones del Dia", '', contenido);


</script>