<table class="table table-bordered">
        <thead>
            <th>
                N°
            </th>
        

            <th>
                Recaudaciones
            </th>
            <th>
                Premios
            </th>

       

            <th>
                Balance
            </th>
        </thead>
        <tbody id="cuerpoResumen">

        </tbody>
    </table>

    <script>
        navegacion("Resumen Maquinas", '', contenido);
    if (typeof contadores == "undefined") {
        var contadores = new Contadores();
        dibujarResumen()

    } else {
        dibujarResumen()
    }

</script>