<div class="row">
    <div class="col-12 col-md-9">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width:20%;">Gastos</th>
                            <th scope="col" style="width:20%;">Monto</th>
                            <th scope="col" style="width:20%;">Motivo</th>
                            <th scope="col" style="width:20%;">Hora</th>
                            <th scope="col" style="width:20%;"></th>

                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-12" style="max-height:350px; overflow-y:scroll;">
                <table class="table">
                    <tbody id="cuerpoGastos"></tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-3">
        <form onsubmit="gastos.registrar(montoGasto.value,motivoGasto.value); return false">
            <div class="form-group">
                <label for="montoGasto">Monto</label>
                <input type="number" class="form-control" id="montoGasto" placeholder="Ingrese el monto" required>
            </div>
            <div class="form-group">
                <label for="motivoGasto">Motivo</label>
                <input type="text" class="form-control" id="motivoGasto" placeholder="Motivo del gasto" required>

            </div>
            <button type="button" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>

    </div>
</div>

<script>
    if (typeof gastos == "undefined") {
        var gastos = new Gastos();
    } else {
        dibujarTablaGastos();

    }
</script>