<div class="col-12 col-md-6 offset-md-3 card">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="veinte">#</th>
            <th scope="col" class="veinte">Apertura</th>
            <th scope="col" class="veinte">Cierre</th>
            <th scope="col" class="veinte"></th>


          </tr>
        </thead>
      </table>
    </div>
    <div class="col-12" style="max-height:500px; overflow-y:scroll;">

      <table class="table">
        <tbody id="listadoTurnos">
        </tbody>
      </table>
    </div>
  </div>
</div>




<!--  The Modal Rec -->
<div class="modal" id="modalRecaudaciones">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Recaudaciones</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">


        <div class="col-12">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="veinte">#</th>
                <th scope="col" class="veinte">Monto</th>
                <th scope="col" class="veinte">Hora</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="col-12" style="max-height:500px; overflow-y:scroll;">

          <table class="table">
            <tbody id="cuerpoModalRec">
            </tbody>
          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!--  The Modal Premios -->
<div class="modal" id="modalPremios">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Premios</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">


        <div class="col-12">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="veinte">#</th>
                <th scope="col" class="veinte">Monto</th>
                <th scope="col" class="veinte">Hora</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="col-12" style="max-height:500px; overflow-y:scroll;">

          <table class="table">
            <tbody id="cuerpoModalRec">
            </tbody>
          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!--  The Modal Rec -->
<div class="modal" id="modalGastos">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Gastos</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">


        <div class="col-12">
          <table class="table">
            <thead class="thead-dark">
              <tr>

                <th scope="col" class="veinte">Motivo</th>
                <th scope="col" class="veinte">Monto</th>
                <th scope="col" class="veinte">Hora</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="col-12" style="max-height:500px; overflow-y:scroll;">

          <table class="table">
            <tbody id="cuerpoModalRec">
            </tbody>
          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<script src="modulos/turnos/turnos.js">
</script>
<script>


  if (typeof turnos == "undefined") {
    var turnos = new Turnos();
  } else {
    cargarListadoTurnos();

  }

$('#detalleSuperior').html('Detalle')
  cargar('sideDerecha','navbar','sideDerecha')

  contenido = `
        <button type="button" class="btn btn-primary" onclick="turnos.iniciar()">Iniciar</button>
        <button type="button" class="btn btn-danger" onclick="jornadas.cerrar()">Cerrar Dia</button>
        `
 
  navegacion("Turnos", '', contenido);

</script>