<div class="row">

    <div class="col-12 col-md-9">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="veinticinco">Entrega</th>
                            <th scope="col" class="veinticinco">Monto</th>
                            <th scope="col" class="veinticinco">Hora</th>
                            <th scope="col" class="veinticinco"></th>

                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-12" style="max-height:350px; overflow-y:scroll;">

                <table class="table table-striped">
                    <tbody id="cuerpoEntrega">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-3">

        <form onsubmit="entrega.registrar(montoEntrega.value); return false">
            <div class="form-group">
                <label for="montoEntrega">Monto</label>
                <input type="number" class="form-control" id="montoEntrega" aria-describedby="emailHelp"
                    placeholder="Ingrese el monto">

            </div>
    
            <button type="submit" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>

    </div>
</div>
<script>
    if (typeof entrega == "undefined"){
            var entrega = new Entrega();
        }else{
         
            dibujarTablaEntrega()
        }
</script>

