<div class="col-12 card">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item " >
          <a class="nav-link active "  style="color:black; font-weight: 600;" id="home-tab" data-toggle="tab" href="#tabPremios" role="tab" aria-controls="home"
            aria-selected="true">Premios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab"  style="color:black; font-weight: 600;"data-toggle="tab" href="#tabRecaudaciones" role="tab" aria-controls="profile"
            aria-selected="true">Recaudaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab"  style="color:black; font-weight: 600;"data-toggle="tab" href="#tabGastos" role="tab" aria-controls="home"
            aria-selected="true">Gastos</a>
        </li>
    <li class="nav-item">
      <a class="nav-link" id="cajabase-tab" style="color:black; font-weight: 600;" data-toggle="tab" href="#tabCajaBase" role="tab" aria-controls="home"
        aria-selected="true">CajaBase</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="retiro-tab" style="color:black; font-weight: 600;" data-toggle="tab" href="#tabRetiro" role="tab" aria-controls="home"
        aria-selected="true">Retiros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="entrega-tab" style="color:black; font-weight: 600;" data-toggle="tab" href="#tabEntrega" role="tab" aria-controls="home"
        aria-selected="true">Entrega</a>
    </li>



  </ul>
  <div class="tab-content" id="myTabContent" style="height:400px;">
    <div class="tab-pane fade show " id="tabRecaudaciones" role="tab" aria-labelledby="home-tab">...</div>
    <div class="tab-pane fade show " id="tabCuadratura" role="tab" aria-labelledby="home-tab">...</div>
    <div class="tab-pane fade show active" id="tabPremios" role="tab" aria-labelledby="home-tab">...</div>

    <div class="tab-pane fade show " id="tabGastos" role="tab" aria-labelledby="home-tab">...</div>
    <div class="tab-pane fade show " id="tabCajaBase" role="tab" aria-labelledby="tabCajaBase-tab">...</div>
    <div class="tab-pane fade show " id="tabRetiro" role="tab" aria-labelledby="tabRetiro-tab">...</div>
    <div class="tab-pane fade show " id="tabEntrega" role="tab" aria-labelledby="tabEntrega-tab">...</div>


  </div>
</div>
<div class=" col-12" id="pieCuadratura">
</div>


<script>
  $(document).ready(function () {
    contenido = `
<button type="button" class="btn btn-primary" onclick="cargar('app','turnos','listado')">Volver</button>
`
    contenido += `
<button type="button" class="btn btn-danger" onclick="turnos.cerrar()">Cerrar</button>
`


iniciarCuadraturaTurno()

  
    cargar("tabCajaBase", "caja/cajaBase", "listado")
    cargar("tabRetiro", "caja/cajaBase", "retiro")
    cargar("tabEntrega", "caja/cajaBase", "entrega")
    cargar("pieCuadratura", "caja/cuadratura", "pieCuadratura")
    navegacion("Caja", '', contenido);

    cargar("tabPremios", "caja/premios", "listado")
    cargar("tabRecaudaciones", "caja/recaudaciones", "listado")
    cargar("tabGastos", "caja/gastos", "listado")
    cargar("tabCuadratura", "caja/cuadratura", "listado")


    $('#myTab').tab('show')
  });</script>