<div class="row">

    <div class="col-12 col-md-9">
            <div class="row">
                    <div class="col-12">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="veinticinco">Premios</th>
                                    <th scope="col" class="veinticinco">Monto</th>
                                    <th scope="col" class="veinticinco"><input type="number" class="form-control" placeholder="filtro" onkeyup="premios.filtrar(this.value)"></th>
                                    <th scope="col" class="veinticinco"><span id="totalPremios"></span> <span id="numPremios"></span></th>
                                    
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-12" style="max-height:300px; overflow-y:scroll;">
                
                        <table class="table table-striped">
                            <tbody id="cuerpoPremios">
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>

    <div class="col-12 col-md-3">

        <form onsubmit="premios.registrar(montoPremio.value,maquinaPremio.value); return false">
            <div class="form-group">
                <label for="montoPremio">Monto</label>
                <input type="number" class="form-control" id="montoPremio" placeholder="Ingrese el monto" required>

            </div>
            <div class="form-group">
                <label for="maquinaPremio">Maquina</label>
                <input type="number" class="form-control" id="maquinaPremio" placeholder="Ingrese número de máquina" required>

            </div>
            <button type="button" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>

    </di
</div>


<script>
if (typeof premios == "undefined"){
    var premios = new Premios();
}else{
    dibujarTablaPremios();

}

        </script>