
<div class="card col-md-4 offset-md-4 col-12 ">
<article class="card-body">

<h4 class="card-title mb-4 mt-1">Iniciar Sesion</h4>
	 <form onsubmit="logear(correo.value,pass.value); return false">
    <div class="form-group">
    	<label>Correo</label>
        <input name="" class="form-control" placeholder="Email" type="email" id="correo">
    </div> <!-- form-group// -->
    <div class="form-group">

    	<label>Password</label>
        <input class="form-control" placeholder="******" type="password" id="pass">
    </div> <!-- form-group// --> 

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Iniciar  </button>
    </div> <!-- form-group// -->                                                           
</form>
</article>
</div> <!-- card.// -->



