
<script>
if (typeof jornadas == "undefined"){
    var jornadas = new Jornadas();
}else{
 
}

contenido = `
        <button type="button" class="btn btn-primary" onclick="jornadas.iniciar()">Iniciar Jornada</button>
 
        `
 
  navegacion("Jornada Inactiva", contenido, '');
</script>
