<script>
     if (typeof maquina == "undefined"){
                    var maquina = new Maquina();
                }else{
                  
                }

    if (typeof jornadas == "undefined") {
        jornadas = new Jornadas();
    } else {
        if (typeof maquina == "undefined"){
                    var maquina = new Maquina();
                }else{
                  
                }
        jornadas.validarJornada()
    }

</script>

<script src="modulos/jornadas/jornadas.js">
</script>