<div class="card">
   <table class="table ">
    <thead class="thead-info">
        <tr>

            <th scope="col">Recaudaciones</th>
            <th scope="col">Premios</th>
            <th scope="col">Gastos</th>

            <th scope="col">Balance</th>
            <th scope="col">CajaBase</th>

            <th scope="col">Retiros</th>

            <th scope="col">Efectivo En Caja</th>
            <th scope="col">Entrega de Caja</th>
            <th scope="col">Diferencia</th>
        </tr>
    </thead>
    <tbody>
        <tr class="thead-light">

            <th>
                <span class="   letras" id="recaudacionesTurno" style="font-size:120%;">$0</span>
            </th>
            <th >
                <span class="   letras" id="premiosTurno"  style="font-size:120%;">$0</span>
            </th>
            <th >
                <span class="   letras" id="gastosTurno"  style="font-size:120%;">$0</span>
            </th>

            <th >
                <span class="   letras" id="balanceTurno"  style="font-size:120%;">$0</span>
            </th> 
            <th >
                <span class="   letras" id="cajaBaseTurno"  style="font-size:120%;">$0</span>
            </th>

            <th >
                <span class="   letras" id="retirosTurno"  style="font-size:120%;">$0</span>
            </th>

            <th>
                <span class="   letras" id="efectivoTurno"  style="font-size:120%;">$0</span>
            </th>
            <th>
                <span class="   letras" id="entregaCajaTurno"  style="font-size:120%;">$0</span>
            </th>
            <th >
                <span class="  " id="diferenciaCajaTurno"  style="font-size:120%;">0</span>
            </th>
        </tr>
    </tbody>
</table> 
</div>
<script>
  if (typeof cuadratura == "undefined") {
      var cuadratura = new Cuadratura();
    } else {
      cuadratura.cargarCuadratura();

    }
</script>