<div class="row card">

    <div class="col-12 ">
        <table class="table table-bordered">
            <thead>
                <th>
                    N°
                </th>
                <th>
                    Monto
                </th>
                <th>
                    Motivo
                </th>
                <th>
                    Hora
                </th>

            </thead>
        </table>
    </div>


</div>

<script>
        contenido = `
     <button type="button" class="btn btn-primary" onclick="cargar('app','jornadas','jornada')">Volver</button>
     `
     centro=``
     navegacion("Gastos",'', contenido);  
     </script>