<div class="row card">

        <div class="col-12 ">
                <table class="table table-bordered">
                <thead>
                    <th>
                        N°
                    </th>
                    <th>
                    Premios
                    </th>
                    <th>
                    Recaudaciones
                    </th>
                    <th>
                        Balance
                    </th>
                </thead>
            </table>
        </div>
    
    
    </div>
    <script>
           contenido = `
        <button type="button" class="btn btn-primary" onclick="cargar('app','jornadas','jornada')">Volver</button>
        `
        centro=``
        navegacion("Resumen",'', contenido);  
        </script>