<div class="row">
    <div class="col-12">
        <label>Maquina</label>
        <input type="number" >
    </div>
    <div class="col-6">
            <label>IN</label>
            <input type="number" class="form-control">
        </div>
        <div class="col-6">
                <label>Out</label>
                <input type="number" class="form-control">
            </div>
</div>