<ul class="list-group col-12 col-md-4 offset-md-4">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        CajaBase
        <span class="badge badge-light badge-pill">$100.000</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Premios
        <span class="badge badge-danger badge-pill">$100.000</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Recaudaciones
        <span class="badge badge-light badge-pill">$100.000</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Gastos
        <span class="badge badge-danger badge-pill">$100.000</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Retiros
        <span class="badge badge-light badge-pill">$100.000</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Balance
        <span class="badge badge-light badge-pill">$100.000</span>
    </li>
</ul>

<script>
    actual=undefined;
    $(document).ready(function () {

        if (typeof actual == "undefined"){
            console.log("por aqui")
    var actual = new DiaActual();
}else{
    console.log("por alla")
    cargarDiaActual();
}
        contenido = `
   
        `
        centro = `<input type = "text" placeholder="local" class="form-control" onkeyup="filtroLocal(this.value)">`
        navegacion("Dia Actuals", '', contenido);


    });

</script>